<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN BY NSOTIEN</title>
    <link rel="stylesheet" th:href="@{/css/create_input.css}">
</head>

<body>
<div class="box">
    <div class="form">

        <h2>Create Animal</h2>

        <form th:action="@{/animal/create}" method="post">


            <div class="inputbox">
                <input name="name" required="required">
                <span> name</span>
                <i></i>
            </div>

            <div class="inputbox">
                <input name="weight" required="required">
                <span> weight</span>
                <i></i>
            </div>

            <div class="inputbox">
                <input name="color" required="required">
                <span> color</span>
                <i></i>
            </div>

            <div class="inputbox">
                <input name="age" required="required">
                <span> age</span>
                <i></i>
            </div>


            <div class="links">
                <a th:href="@{/animal/search}">List Animal</a>
            </div>

            <input type="submit" value="Create">
        </form>
    </div>
</div>
</body>
</html>