<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/create_table.css}">
    <title>TABLE BY NSOTIEN</title>
</head>

<body>
<div class="filter">
    <h2>List Animal</h2>
</div>

<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>weight</th>
        <th>color</th>
        <th>age</th>
        <th><a th:href="@{/animal/create}" style="color:white;">Create<a></th>
    </tr>

    <tr th:each="animal : ${list}">
        <td th:text="${animal.id}"></td>
        <td th:text="${animal.name}"></td>
        <td th:text="${animal.weight}"></td>
        <td th:text="${animal.color}"></td>
        <td th:text="${animal.age}"></td>
        <td>
            <a style="color:green; margin-right: 20px;" th:href="@{'/animal/delete?id=' + ${animal.id} }">DELETE<a>
                <a style="color:green;" th:href="@{'/animal/update?id=' + ${animal.id} }">UPDATE<a>
        </td>
    </tr>

</table>


</body>

</html>


