<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPDATE BY NSOTIEN</title>
    <link rel="stylesheet" th:href="@{/css/create_input.css}">
</head>

<body>
<div class="box">
    <div class="form">

        <h2>Update Animal</h2>

        <form th:action="@{/animal/update}" th:object="${update}" method="post">
            <div class="inputbox">
                <label style="color:#45f3ff;">id</label>
                <input th:field="*{id}" required="required" readonly>
                <i></i>
            </div>

            <div class="inputbox">
                <input th:field="*{name}" required="required">
                <span> name</span>
                <i></i>
            </div>

            <div class="inputbox">
                <input th:field="*{weight}" required="required">
                <span> weight</span>
                <i></i>
            </div>

            <div class="inputbox">
                <input th:field="*{color}" required="required">
                <span> color</span>
                <i></i>
            </div>

            <div class="inputbox">
                <input th:field="*{age}" required="required">
                <span> age</span>
                <i></i>
            </div>


            <div class="links">
                <a th:href="@{/animal/search}">List Book</a>
                <a th:href="@{/animal/create}">Create Book</a>
            </div>
            <input type="submit" value="Update">
        </form>
    </div>
</div>


</body>
</html>