<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN BY NSOTIEN</title>
    <link rel="stylesheet" th:href="@{/css/create_input.css}">
</head>

<body>
<div class="box">
    <div class="form">

        <h2>Create Student</h2>

        <form th:action="@{/user/new}" method="post" enctype="multipart/form-data">>


            <div class="inputbox">
                <input name="name" required="required">
                <span> name</span>
                <i></i>
            </div>

            <div class="inputbox">
                <input name="username" required="required">
                <span> username</span>
                <i></i>
            </div>

            <div class="inputbox">
                <input name="password" required="required">
                <span> password</span>
                <i></i>
            </div>

            <div class="inputbox">
                <input name="birthdate" required="required">
                <span> birthdate</span>
                <i></i>
            </div>

            <div class="inputbox">
                <input type="file" name="file" required="required">
                <i></i>
            </div>


            <div class="links">
                <a th:href="@{/user/list}">List Student</a>
            </div>

            <input type="submit" value="Create">
        </form>

        <form th:action="@{/user/upload}" method="post"
              enctype="multipart/form-data">
            <input type="file" name="files" accept="image/*">
            <input type="file" name="files" accept="image/*">
            <input type="file" name="files" accept="image/*">
            <div>
                <button type="submit">Create</button>
            </div>
        </form>


    </div>
</div>
</body>
</html>