<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/create_table.css}">
    <title>TABLE BY NSOTIEN</title>
</head>

<body>
<div class="filter">
    <h2>List Student</h2>
</div>

<form th:action="@{/person/search}" method ="post">
    <input name="min">
    <input name="max">
    <input name="page">
    <input name="size" value="10">
    <button type="submit">Search</button>
</form>

<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>address</th>
        <th>name_school</th>
        <th><a th:href="@{/student/create}" style="color:white;">Create<a></th>
    </tr>

    <tr th:each="student : ${list}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.age}"></td>
        <td th:text="${student.address}"></td>
        <td th:text="${student.name_school}"></td>
        <td>
            <a style="color:green; margin-right: 20px;" th:href="@{'/student/delete/' + ${student.id} }">DELETE<a>
                <a style="color:green;" th:href="@{'/student/update/'  + ${student.id} }">UPDATE<a>
        </td>
    </tr>

</table>


</body>

</html>


